<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!-- Favicon pour différentes tailles et formats -->
		<link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-48x48.png') }}" sizes="48x48">
		<link rel="icon" type="image/svg+xml" href="{{ asset('images/favicon/favicon.svg') }}">
		<link
		rel="shortcut icon" href="{{ asset('images/favicon/favicon.ico') }}">

		<!-- Icône pour appareils Apple (iPhone/iPad) -->
		<link
		rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon/apple-touch-icon.png') }}">

		<!-- Fichier manifest pour les Progressive Web Apps (PWA) -->
		<link rel="manifest" href="{{ asset('site.webmanifest') }}"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
